<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    

    <div id = "loginStatus">

    </div>
    <button id="logout">
        Logout
    </button>



    <script>
        $("#logout").click(() => {
            firebase.auth().signOut().then(() => {
                console.log(24, "User has logged out!");
            }).catch((error) => {
                console.log(26, error);
            });
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAnytn_6IMhsgFNwXlrOAqcmNvJqM6TuPM",
            authDomain: "element-template.firebaseapp.com",
            projectId: "element-template",
            storageBucket: "element-template.appspot.com",
            messagingSenderId: "914667935337",
            appId: "1:914667935337:web:df74934e6e89e1795734f8"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                console.log("User is signed in");
                $("#loginStatus").append(`User is logged in`);
            } else {
                $("#loginStatus").append(`User is not logged in`);
            }
        });
    </script>

</body>

</html>